*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    height: 65px;
    padding: 15px 30px;
    background: black;
    color: whitesmoke;
}

.header i{
    font-size: 30px;
    margin-left: 36em;
    cursor: pointer;
    color: whitesmoke;
}

.header i:hover{
    color: blue;
}

.header img{
    height: 10em;
    margin-left: -5px;
}


.side-bar{
    width: 220px;
    margin-left: -1.8em;
    background: #262931;
    min-height: 100vh;
    transition: 500ms width;
}

.body{
    display: flex;
}

.sec-1{
    width: 100%;
    background: url(1732235.jpg);
    background-color: aqua;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-bar ul{
    margin-top: 20px;
    list-style: none;
}

.side-bar ul li{
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    transition: 500ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-bar ul li:hover{
    background: #127b8e;
}

.side-bar ul li a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    letter-spacing: 1px;
}

.side-bar ul li a i{
    display: inline-block;
    padding-right: 10px;
    font-size: 23px;
    margin-left: -20px;
}

#navbtn{
    display: inline-block;
    font-size: 25px;
    margin-left: -4px;
    transition: 300ms color;
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .body .side-bar{
    width: 70px;
}

#checkbox:checked ~ .body .side-bar .user-p{
    visibility: hidden;
}

#checkbox:checked ~ .body .side-bar a span{
    display: none;
}

#messages{
    display: inline-flex;
    width: 50em;
}