*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    top: 0;
    width: 100%;
    height: 10rem;
    padding: 10px 100px;
    padding-top: 15px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    position: fixed;
}

header.sticky{
    background-color: wheat;
    margin-top: -10px;
    padding: 5px 100px;
}

.backimage{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(xyz.jpg);
    background-size: cover;
}

.logo{
    width: 200px;
    height: 150px;
    margin-left: -8%;
}

.navigation{
    position: relative;
    display: flex;
    margin-right: -50px;
}

.navigation li{
    list-style: none;
    margin-left: 30px;
}

.navigation li a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

button{
    color: chocolate;
    margin-right: -7%;
    margin-left: -50%;
    padding: 10px 25px;
    background-color: transparent;
    border: 2.5px solid whitesmoke;
    border-radius: 30px;
}

.content{
    color: navy;
    position: absolute;
    bottom: 25%;
    left: 20%;
}
.content h3{
    font-family: cursive;
}

h1{
    font-family: cursive;
    margin-left: 40px;
    font-size: 80px;
}

#first{
    min-height: 1000px;
}

.btn{
    font-size: 20px;
    color: whitesmoke;
    background: lightcoral;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 5px;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 3px;
}

li:hover{
    letter-spacing: 3px;
    transition: 0.5s;
}


blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    margin-left: 20rem;
    margin-bottom: 5rem;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 25px;
    color:white;
    width: 700px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}

#btn{
    border-radius: 20px;
    margin-left: 40%;
}

.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#49aeff,#ff4c89);
}

.container h2{
    font-size: 50px;
    margin-left: 40%;
    margin-bottom: 10%;
}

.contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: grey;
    background-size: cover;
}

.contact h2{
    margin-left: 43%;
    margin-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: yellow;
}

#raj{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: -48em;
    margin-top: 20em;
}

#raj:hover{
    width: 220px;
    height: 220px;
    transition: 1s;
}

.contact .raj h3{
    margin-left: -19em;
    margin-top: -4em;
}

#pull{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 19.5em;
    margin-left: -2em;
}

#pull:hover{
    width: 220px;
    height: 220px;
    transition: 1s;
}

.contact .pull h3{
    margin-left: 8em;
    margin-top: -4em;
}